<div class="outer">
  <div class="top-outer">
    <div class="left-inner">
      <h3>Place Order</h3>
    </div>
    <div class="right-inner ">
      <button type="button" class="btn btn-danger">Reset</button>
      <button type="button" class="btn btn-success">Back to Home</button>
    </div>
  </div>
  <hr>
  <div class="body-outer row ">
    <div class="mb-3 col-12 col-lg-6" >
      <label class="form-label">Customer Id</label>
      <input type="text" class="form-control" placeholder="Please enter your id" >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Full Name</label>
      <input type="text" class="form-control" placeholder="Please enter your full name" >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" placeholder="Please enter your address" >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Salary</label>
      <input type="number" class="form-control" placeholder="Please enter your salary" >
    </div>
    <div class="d-grid gap-2 mt-5">
      <button type="button" class="btn btn-outline-success">Save Customer</button>
    </div>
  </div>
  <div class="table-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
