<div class="outer">
  <div class="top-outer">
    <div class="left-inner">
      <h1>Place Order</h1>
    </div>
    <div class="right-inner ">
      <button type="button" class="btn btn-danger">Reset</button>
      <button type="button" class="btn btn-success">Back to Home</button>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="formSubmit()" class="body-outer row ">
    <h2>Customer</h2>
    <hr>
    <div class="mb-3 col-12 col-lg-6 " >
      <label class="form-label" for="customerId" >Customer Id</label>
      <select formControlName="customerId" class="form-control" id="customerId" (change)="customerChange($event)"   >
        <option selected >Select Customer</option>
        <option [value]="customer.propertyId" *ngFor="let customer of customerList">{{customer?.name}}</option>
      </select>
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label" >Full Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Please enter your full name" readonly >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Please enter your email" readonly>
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Phone</label>
      <input type="text" class="form-control" formControlName="phone" placeholder="Please enter your phone" readonly>
    </div>
    <h2>Product</h2>
    <hr>
    <div class="mb-3 col-12 col-lg-6" >
      <label class="form-label" for="productId" >Product Id</label>
      <select formControlName="productId" class="form-control" id="productId" (change)="productChange($event)">
        <option  selected>Select Product</option>
        <option [value]="product.productId" *ngFor="let product of productList">{{product?.description}}</option>
      </select>
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Description</label>
      <input type="text" formControlName="description" class="form-control" placeholder="Please enter description" readonly >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Unit Price</label>
      <input type="text"  formControlName="unitPrice" class="form-control" placeholder="Please enter unit price" readonly>
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Qty On Hand</label>
      <input type="text" formControlName="qty"  class="form-control" placeholder="Please enter qty" readonly>
    </div>
    <hr>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Date</label>
      <input type="date" formControlName="date"  class="form-control" placeholder="Please enter date" >
    </div>
    <div class="mb-3 col-12 col-lg-6">
      <label class="form-label">Qty</label>
      <input type="text" formControlName="order_qty"  class="form-control" placeholder="Please enter qty" >
    </div>
    <div class="d-grid gap-2 mt-5">
      <button type="submit" class="btn btn-outline-success">Save Customer</button>
    </div>
  </form>
  <div class="table-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Date</th>
        <th scope="col">Nett Price</th>
        <th scope="col">Customer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orderList ">
        <th scope="row">{{order?.orderId}}</th>
        <td>{{order?.date}}</td>
        <td>{{order?.nett}}</td>
        <td>{{order?.customer}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
