<div class="outer">
  <div class="top-outer">
    <div class="left-inner">
      <h3>Product Form</h3>
      <input type="search"  placeholder="Type to search product..." style="width: 700px; border-radius: 10px; padding: 10px">
    </div>
    <div class="right-inner ">
      <button type="button" class="btn btn-success">Bulk Upload</button>
      <button type="button" class="btn btn-success">+ New Product</button>
      <button type="button" class="btn btn-success">Back to Home</button>
    </div>
  </div>
  <hr>
  <form [formGroup]="form" (ngSubmit)="formSubmit()"  class="body-outer">
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" placeholder="Please enter description" >
    </div>
    <div class="mb-3">
      <label class="form-label">Unit Price</label>
      <input type="number" class="form-control" placeholder="Please enter unit price" >
    </div>
    <div class="mb-3">
      <label class="form-label">Qty</label>
      <input type="text" class="form-control" placeholder="Please enter qty" >
    </div>
    <div class="d-grid gap-2 mt-5">
      <button type="button" class="btn btn-outline-success">{{buttonName}}</button>
    </div>
  </form>
  <div class="table-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Description</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Tools</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
