<div class="outer">
  <div class="top-outer">
    <div class="left-inner">
      <h2>Product Form</h2>
      <input type="search"  placeholder="Type to search product..." style="width: 700px; border-radius: 10px; padding: 10px">
    </div>
    <div class="right-inner ">
      <button type="button" class="btn btn-success" (click)="clear()">+ New Product</button>
      <button type="button" class="btn btn-success" routerLink="/dashboard">Back to Home</button>
    </div>
  </div>
  <hr>
  <form [formGroup]="form" (ngSubmit)="formSubmit()" class="body-outer">
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" formControlName="description" class="form-control" placeholder="Please enter description" >
    </div>
    <div class="mb-3">
      <label class="form-label">Unit Price</label>
      <input type="text"  formControlName="unitPrice" class="form-control" placeholder="Please enter unit price" >
    </div>
    <div class="mb-3">
      <label class="form-label">Qty</label>
      <input type="text" formControlName="qty"  class="form-control" placeholder="Please enter qty" >
    </div>
    <div class="d-grid gap-2 mt-5">
      <button type="submit" class="btn btn-outline-success">{{buttonName}}</button>
    </div>
  </form>
  <div class="table-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Description</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Tools</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row">{{product?.productId}}</th>
        <td>{{product?.description}}</td>
        <td>{{product?.unitPrice}}</td>
        <td>{{product?.qty}}</td>
        <td class="w-full">
          <div class="w-full d-flex align-items-center justify-content-between">
            <button class="btn btn-danger" (click)="productDelete(product.productId)">Delete</button>
            <button class="btn btn-success" (click)="productUpdate(product.productId)" >Update</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
