<ul>
  <li><a routerLinkActive="active" routerLink="/customer">Customer Management</a></li>
  <li><a routerLinkActive="active" routerLink="/product">Product Management</a></li>
  <li><a routerLinkActive="active" routerLink="/place-order">Place New Order</a></li>
  <li><a routerLinkActive="active" routerLink="#">All Order History</a></li>
  <li><a routerLinkActive="active" routerLink="#">Database Backup</a></li>
  <li><a routerLinkActive="active" routerLink="#">Activity Log</a></li>
  <li><a routerLinkActive="active" routerLink="#">Reports</a></li>
</ul>
<router-outlet/>
